$theme-color: #7ad5c9;
$text-color: #363636;
$meta-color: #707070; 
$tablet: "(min-width: 767px)";

.read_more_container{
	display: none;
}
h1, h2, h3, h4{
	font-size: inherit;
}
@import url(http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

a, a:visited{
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	color: $theme-color;
}
a:hover, a:focus{
	text-decoration: none;
	color: darken($theme-color, 10%);
}
body{
	font-family: Muli, sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: $text-color;
	letter-spacing: 0.03em;
	p{
		font-weight: 300;
		margin: 40px 0 10px;
	}
}
img, iframe{
	max-width: 100% !important;

}
header{
	.index-page &{
		background-size: cover;
		background-position: center 13%;
		background-repeat: no-repeat;
	}
	position: relative;
	height: 150px;
	margin-bottom: 20px;

	.permalink-page &{
		margin-bottom: 0px;
	}
	.index-page &{
		min-height: 400px;	
		margin-bottom: 3em;
	}

	.title-wrapper{
		height: 100%;
		&:before{
			content: '';
			height: 50%;
			display: inline-block;
		}

		#blog-title{
			font-family: Montserrat, sans-serif;
			color: white;
			font-size: 1.8em; 
			letter-spacing: 0.03em;
			margin-top: 0;
			text-align: center;
		}
	}	
	#logo{
		padding: 15px;
		width: 200px;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
	}
}
#description{
	font-size: 0.9em;
	margin-bottom: 65px;
	.welcome{
		font-weight: bold;
	}
}
.archives{
	font-weight: 400;
	font-size: 0.7em;
	border-top: solid 1px $theme-color;
	@media #{$tablet} {
		margin-bottom: 45px;
	}
	padding-top: 5px;
	text-transform: uppercase;
}
.post-list{
	margin-bottom: 50px;
}


article{
	margin-bottom: 60px;
	.post-title{
		font-family: Montserrat, sans-serif;
	}
	.permalink-page & .post-title{
		color: $text-color;
		font-size: 1.8em;
		margin-bottom: 60px;
		margin-top: -5px;

	}
	.index-page & .post-title{
		font-size: 1.3em;
		color: $theme-color;
		margin-bottom: 20px;
		transition: all 0.2s;
		-webkit-transition: all 0.2s;
		&:hover{
			color: darken($theme-color, 15%);
		}
	}
	p{
		img {
			display: block;
			margin: auto;
		}

		a, a:hover{
			color: black!important;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		a:visited{
			color: lighten(black, 10%);
		}
	}
	.post-meta{
		text-transform: uppercase;
		font-weight: 300;
		color: $meta-color;
		font-size: 0.7em;
		display: inline-block;
		width: 100%;
		time{
			float: left;
		}
		.tags{
			display: inline-block;
			float: right;
			text-transform: uppercase;
			.tag{
				color: $meta-color;
				&:hover{
					color: darken($meta-color, 15%);
				}
			}
		}
	}
	
}
.article-footer{
	text-transform: uppercase;
	font-weight: 700;
	font-family: Montserrat, sans-serif;
	font-size: 0.9em;
	.back{
		float: left;
	}
	.next{
		float: right;
	}
}
a.next-page{
	position: relative;
	font-family: Montserrat;
	font-weight: 700;
	background: $theme-color;
	width: 100%;
	background-color: $theme-color;
	text-transform: uppercase;
	color: white;
	border-radius: 0;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	&:hover{
		background: darken($theme-color, 10%);
		color: white;
	}
	
	// &:before{
	//     font-family: FontAwesome;
	//     font-size: 0.8em;
	//     content: "\f054";
	//     position: absolute;
	//     line-height: 165%;
	//     color: inherit;
	//     -webkit-transition: all 0.3s;
	//     -moz-transition: all 0.3s;
	//     transition: all 0.3s;
	//     left: 56%;
	//     opacity: 0;
	// }
	// &:hover:before{
	//     left: 57%;
	//     opacity: 1;
	// }

}



footer {
	height: 65px;
	font-size: 0.6em;
	line-height: 1.4em;
	
	background-color: #08233e;
	color: white;
	padding: 15px 25px 10px;
	margin-top: 100px;
	.copyright{
		.logo, .terms{
			float: left;
		}
		.logo{
			height: 23px;
			width: auto;
			margin: 5px 0px;
		}
		.terms{
			margin-left: 25px;
		}
	}
	.social {
		float: right;
		font-size: 1.5em;
		margin-top: 10px;
		a{
			margin-right: 10px;
			color: white;
			&:hover{
				color: darken(white, 15%);
			}
		}
	}
}


